<module>
    <rawname>synologyabb</rawname>
    <repo>unsupported</repo>
    <name>Synology Active Backup for Business</name>
    <version>16.0.1</version>
    <category>Admin</category>
    <publisher>Sangoma Technologies Corporation</publisher>
    <description>Interface to configure and monitor backup status with synology active backup for business</description>
    <changelog>*16.0.1* Initial release</changelog>
    <depends>
        <module>framework ge 15.0.17.53</module>
    </depends>
    <license>GPLv3+</license>
    <licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
    <menuitems>
        <synologyabb>Synology Active Backup for Business</synologyabb>
    </menuitems>
    <supported>16.0</supported>
    <console>
		<command>
			<name>synologyabb</name>
            <class>Synologyabb</class>
		</command>
	</console>
    <hooks>
		<dashboard class="Overview" namespace="FreePBX\modules\Dashboard\Sections">
			<method callingMethod="getSummary" class="Synologyabb" namespace="FreePBX\modules">dashboardService</method>
		</dashboard>
	</hooks>
</module>
